* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:whitesmoke ;
    background-size: cover;
    background-position: center;
     background-attachment: fixed;
    font-family: Arial, sans-serif;
    font-size: larger;
}
/* ======================================================== */
header {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color:#801a1a;
    color: #fff;
    padding: 10px;
}
header a:hover{
    color: #000000;
}
select {
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 3px;
    width: 80px; 
    font-style: italic;
}
  
select:focus {
    outline: none;
    border-color: #66afe9;
} 

.div2 a{
    text-decoration: none;
    color:  whitesmoke;
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
    font-style: italic;
    text-transform: capitalize ;
    margin: 5px;
}
  
input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 200px;
}

.fa-search {
    background-color:#4b5053 ;
    color: white;
    padding: 8px;
    font-size: 16px;
    vertical-align: middle;
    margin-left: 10px;
    cursor: pointer;
}

.menu-icon {
    background-color:#4b5053 ;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    padding: 7px;
    vertical-align:middle;
}
/* ====================================================== */

main{
    display: flex;
    justify-content: center;
    background: url(../images/background.jpeg) no-repeat;
    background-size: cover;
    background-position: center; 
    filter: brightness(80%);
}
main section{
    margin-top: 60px;
    width: 70%;
    padding: 22px;
    line-height:1.5;
    font-size: 20px;
    font-weight: 400;
    color:rgb(255, 255, 255);
    z-index: 999;
    top: 25%;
    text-transform:capitalize;
}


main h2 {
	font-size: 30px;
    display:inline;
    text-align: center;

}

main p {
	margin-bottom: 10px;
}