#account-body {
    background-image: linear-gradient(to bottom, #000, #cc0404);
    height: 700px;
    padding: 100px 0px;
}

.form-container {
    background: #ffffff;
    width: 450px;
    height: 450px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;
}

.form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn {
    display: inline-block;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 410px;
    padding: 0 20px;
    position: absolute;
    top: 100px;
    transition: transform 0.5s;
}

form input {
    height: 30px;
    width: 90%;
    margin: 10px 0;
    padding: 0px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="radio"] {
    accent-color: #cc0404;
    width: min-content;
}

#role {
    display: flex;
    align-items: center;
    width: 90%;
}

#role label {
    font-size: 14px;
    color: #555;
    margin-left: 5px;
}

.btn22 {
    height: 40px;
    border-radius: 30px;
    border: none;
    background: #cc0404;
    cursor: pointer;
    margin: 10px 0;
    color: #fff;
    transition: 0.5s;
}

.btn22:hover {
    background: #807373;
}

form .btn22:focus {
    outline: none;
}

#LoginForm {
    left: 0px;
}

#RegForm {
    left: -450px;
}

form a {
    font-size: 12px;
}

#Indicator {
    width: 100px;
    border: none;
    background: #cc0404;
    height: 3px;
    margin-top: 8px;
    transform: translateX(65px);
    transition: transform 0.5s;
}

.error-msg {
    width: 95%;
    text-align: left; 
    margin-bottom: 0px;
    margin-top: 0px; 
    margin-left: 20px;
    display: none;
    font-size: 13px;
    color: #c40000;
    text-shadow: 0px 0px 1px red;;
}

.error-msg.active {
    display: block;
}

@media only screen and (max-width: 600px) {
    .form-container {
        width: 330px;
    }

    .form-container form {
        width: 289px;
    }
}