#home-body {
    padding: 5px 150px;
    padding-top: 25px;
    background-image: linear-gradient(to bottom, #000, #cc0404);
}

.title-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 20px;
    color: #f5e4e4;
}

.more {
    color: #f5e4e4;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.more p {
    font-size: 15px;
    margin: 0px 10px;
}

.card-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 40px;
}

.play-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 35px; 
    background-color: #fff;
    box-shadow: 0 1px 3px #00000026;
    overflow: hidden;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
}

.play-card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: 0.5s;
}

.play-card img:hover {
    width: 110%;
}

.play-card p {
    font-weight: bold;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    #home-body {
        padding: 5px 30px;
    }

    .card-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 600px) {
    .card-container {
        grid-template-columns: 1fr;
    }

    .show {
        display: none;
    }
}